
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #0f1215;
  --color-card: #363C43;
  --color-accent: #171717;
  --color-button:#161718;
  --color-text-button: #303439;
  --color-left-rigt-button:#6F787C;
  --color-left-screen:#616161D1;
  --color-left-screen-border:#96BEE7;
  --color-text-upper:#969696;
  --color-text-label:#A3ADB2;
  --color-question-icon:#A3ADBA;
  --color-grid:#4A4E54;
  --color-line:#282828;
  --color-slider:#28292F;
}


html,body {
  font-family: 'Poppins', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


